.boardRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}

.front:empty::before {
  content: "\A0";
  height: var(--box-side);
  width: var(--box-side);
  border: 1px solid #5e5e5e;
}

.front {
  height: var(--box-side);
  width: var(--box-side);
  border: 1px solid #5e5e5e;
}

.submitted .flip-container {
  transform: rotateX(180deg);
}

.flip-container {
  transition-duration: 800ms;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  height: var(--box-side);
  width: var(--box-side);
  perspective: 1000px;
}

.front,
.back {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tile .back {
  z-index: 1;
  transform: rotateX(180deg);
}

.filled {
  border: 1px solid rgb(167, 166, 166);
}

.active {
  animation: bounce 0.1s ease-in-out forwards;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.shake {
  animation: shake 0.4s ease-in-out forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  15%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-5px);
  }
}

.win {
  animation: rise 0.4s ease-in-out forwards;
}

@keyframes rise {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  75% {
    transform: translateY(10px);
  }

  90% {
    transform: translateY(-5px);
  }
}
