.boardRow {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: bold;
  border: 1px solid grey;
  height: 60px;
  width: 60px;
}

.green {
  background-color: #6ca965;
  height: 62px;
  width: 62px;
  border: 0px;
}

.dark-grey {
  background-color: #3a3a3c;
  height: 62px;
  width: 62px;
  border: 0px;
}

.yellow {
  background-color: #c8b653;
  height: 62px;
  width: 62px;
  border: 0px;
}

.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: grey;
  }
}
