.keyboardRow{
  display: flex;
  gap:10px;
}

.keyboard-button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height:60px;
  width:45px;
  background-color: grey;
  border-radius: 5px;
  cursor:pointer;
}

.keyboard-special{
  width:80px;
}