.keyboardRow {
  display: flex;
  gap: 5px;
}

.keyboard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  height: 60px;
  width: 42px;
  background-color: grey;
  border-radius: 5px;
  color: white;
  border: 0px;
  cursor: pointer;
}

.keyboard-special {
  font-size: 0.8rem;
  width: 75px;
}
