.keyboardRow {
  display: flex;
  gap: 5px;
}

.keyboard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 60px;
  width: 42px;
  background-color: grey;
  border-radius: 5px;
  color: white;
  border: 0px;
  cursor: pointer;
}

.keyboard-special {
  width: 75px;
}

.dark-grey {
  background-color: rgb(69, 69, 69);
}

.green {
  background-color: green;
}

.yellow {
  background-color: rgb(155, 176, 0);
}
