:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #121213;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*Header.css*/
  --header-height: 50px;
  --box-side: 60px;
}

@media (max-height: 700px) {
  :root {
    --box-side: 50px;
    --header-height: 50px;
  }
  .board {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* App.css */
  .main-container {
    justify-content: start;
  }
}

@media (max-width: 420px) {
  .keyboard-button {
    width: 30px;
  }
  .keyboard-special {
    font-size: 0.7rem;
    width: 50px;
  }
}

@media (max-height: 900px) {
  /* Board.css */
  .board {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
